@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="font-weight-bold display-4">Welcome to my E-Commerce Site</h1>
    <p>Click <a class="text-success text-decoration-underline" asp-controller="Product" asp-action="Index">here</a> to browse our Catalog</p>
    <p>Learn about <a class="text-success text-decoration-underline" href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">styling with Bootstrap</a>! This website was made using <a class="text-success text-decoration-underline" href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-5.0">ASP.NET Core MVC</a> patterns</p>
</div>

